<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="/css/style.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="/js/script.js"></script>
 <title>Single Post</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
    
    <br>
    <br>
        <div class="post">
            <div class="post-top">
                <img src="..\images\user.png" width="30" height="30" alt="User image">
            </div>
            <div class="post-content">
                <img src=<%= posts.urllink %> class="post-image">
                <h2>
                    <%= posts.title %>
                </h2>
    
                <p>
                    <%= posts.body %>
                </p>
            </div>
            <div class="post-like">
                <p>Likes: <span id="display-likes">0</span></p>
            </div>
            
            <div>
                <a class="post-delete" data-del="<%= posts.id %>">Delete</a>
            </div>
        </div>

        <script>
            const delreq = document.querySelector('a.post-delete');
            delreq.addEventListener('click', (e) => {
                const endpoint = `/posts/${delreq.dataset.del}`;
                fetch(endpoint, {
                    method: 'DELETE',
                }).then(window.location.href = '/posts')
            });
        </script>

        <script type="text/javascript">
            var count = 0;
            var btn = document.getElementById("like-button");
            var disp = document.getElementById("display-likes");

            btn.onclick = function () {
                count++;
                disp.innerHTML = count;
                this.disabled=true;
            }
        </script>

    <%- include('./partials/footer.ejs') %>
</body>
</html>